/*color variables*/
:root {
  --green: #54e6af;
  --dark-blue: #2c344b;
  --very-dark-blue: #121725;
  --white: #ffffff;
  --dark-grey: #5a668a;
  --light-grey: #c2cbe5;
}
/*margin & padding formatting*/
* {
  margin: 0;
  padding: 0;
}
/*body formatting*/
body {
  background-image: url("assets/mobile/image-host.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: scroll;
  opacity: 0.9;
  font-family: "Chivo";
  font-size: 15px;
}
main {
  background-color: var(--very-dark-blue);
  display: flex;
  flex-direction: column;
  align-items: center;
}
#pod-logo {
  margin-top: 62px;
}
/*hero component formatting*/
.publish-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cta {
  text-align: center;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 27px;
  margin-top: 57px;
  line-height: 38px;
  color: var(--green);
}
.every {
  color: var(--white);
}
.description {
  line-height: 25px;
  color: var(--light-grey);
  text-align: center;
  width: 327px;
  margin-top: 16px;
  font-weight: 300;
}
/*mobile logo wrapper formatting*/
.logo-wrapper-1 {
  width: 315px;
  display: flex;
  justify-content: space-between;
  opacity: 0.6;
  margin-top: 33px;
  align-items: center;
}
/*tablet & desktop logo wrapper formatting*/
.logo-wrapper-2 {
  width: 315px;
  display: flex;
  justify-content: space-between;
  opacity: 0.6;
  margin-top: 33px;
  display: none;
}
.partner-logo-1 {
  width: 56px;
  height: 17px;
}
.partner-logo-2 {
  width: 45px;
  height: 17px;
}
.partner-logo-3 {
  width: 73px;
  height: 11px;
}
.partner-logo-4 {
  width: 77px;
  height: 15px;
}
/*input form formatting*/
#email {
  margin-top: 48px;
  width: 327px;
  border-radius: 28px;
  background-color: var(--dark-blue);
  border: none;
  color: var(--white);
  padding: 1em;
}

::placeholder-shown {
  opacity: 0.5;
}
.request input {
  margin-top: 30px;
  width: 327px;
  height: 46px;
  border-radius: 28px;
  border: none;
  background-color: var(--green);
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 400px;
  margin-left: 15px;
}
.request input:hover {
  opacity: 0.7;
}
/*error message formatting*/
.error {
  color: red;
  position: relative;
  bottom: 470px;
}
/*hide class for error message*/
.hide {
  display: none;
}

/*tablet device breakpoint*/

@media only screen and (min-width: 500px) {
  body {
    background-image: url("assets/desktop/bg-pattern-dots.svg"),
      url("assets/tablet/image-host.jpg");
    background-position: left 50px bottom -400px, top right;
    background-repeat: no-repeat;
    background-size: 20%, 65%;
    background-color: var(--very-dark-blue);

    opacity: 1;
    font-family: "Chivo";
    font-size: 15px;
  }
  main {
    background-image: none;
    background-color: transparent;
    display: block;
    height: 767px;
  }
  #pod-logo {
    margin-top: 62px;
    margin-left: 39px;
  }
  .publish-card {
    width: 625px;
    height: 509px;
    margin-top: 150px;
    margin-left: 39px;
    display: block;
    background-color: var(--very-dark-blue);
  }
  .cta {
    text-align: left;
    padding-top: 93px;
    font-size: 48px;
    line-height: 56px;
  }

  .description {
    line-height: 28px;
    font-size: 18px;
    text-align: left;
    width: 445px;
    margin-top: 31px;
  }
  .logo-wrapper-1 {
    display: none;
  }
  .get-email {
    height: 150px;
  }

  #email {
    margin-top: 48px;
    width: 427px;
    height: 56px;
    padding: 0em 0em 0em 3em;
  }

  ::placeholder {
    color: var(--white);
    opacity: 0.5;
  }
  .request input {
    position: relative;
    bottom: 80px;
    left: 285px;
    width: 162px;
    margin-bottom: 0px;
  }
  .logo-wrapper-2 {
    width: 536px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    opacity: 0.6;
    margin-top: 0px;
    margin-left: 0px;
  }

  .partner-logo-1 {
    width: 96px;
    height: 29px;
  }
  .partner-logo-2 {
    width: 78px;
    height: 29px;
  }
  .partner-logo-3 {
    width: 125px;
    height: 18px;
  }
  .partner-logo-4 {
    width: 129px;
    height: 26px;
  }

  .error {
    color: red;
    position: relative;
    bottom: 40px;
    left: 20px;
  }
}

/*desktop media breakpoint*/
@media only screen and (min-width: 1200px) {
  body {
    background-image: url("assets/desktop/bg-pattern-dots.svg"),
      url("assets/desktop/image-host.jpg");
    background-position: right bottom, right top 88px;
    background-repeat: no-repeat;
    background-size: 232px 104px, 888px 640px;
    background-color: var(--very-dark-blue);
    opacity: 1;
    font-family: "Chivo";
    font-size: 15px;
  }
  main {
    background-image: none;
    background-color: transparent;
    display: block;
    height: 767px;
  }
  #pod-logo {
    margin-top: 102px;
    margin-left: 165px;
  }
  .publish-card {
    width: 723px;
    margin-top: 0px;
    margin-left: 165px;
    display: block;
    background-color: var(--very-dark-blue);
  }
  .cta {
    text-align: left;
    padding-top: 93px;
    font-size: 52px;
    line-height: 62px;
  }

  .description {
    line-height: 28px;
    font-size: 18px;
    text-align: left;
    width: 445px;
    margin-top: 31px;
  }
  .logo-wrapper-1 {
    display: none;
  }
  .get-email {
    height: 150px;
  }

  #email {
    margin-top: 48px;
    width: 427px;
    height: 56px;
    padding-left: 3em;
  }

  ::placeholder {
    color: var(--white);
    opacity: 0.5;
  }
  .request input {
    position: relative;
    bottom: 80px;
    left: 285px;
    width: 162px;
    margin-bottom: 0px;
  }
  .logo-wrapper-2 {
    width: 536px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    opacity: 0.6;
    margin-top: 0px;
    margin-left: 0px;
  }

  .partner-logo-1 {
    width: 96px;
    height: 29px;
  }
  .partner-logo-2 {
    width: 78px;
    height: 29px;
  }
  .partner-logo-3 {
    width: 125px;
    height: 18px;
  }
  .partner-logo-4 {
    width: 129px;
    height: 26px;
  }
}
